/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Font settings */
body, h1, h2 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
	Helvetica, Arial, sans-serif;
	
	font-weight: normal;
}

#bannerTitle {
	font-size: 60px;
	margin-bottom: 0px;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 20px;
	color: #9a9a9a;
}

p {
	text-align: left;
}

#pageFooter p {
	text-align: center;
}

#teamMembers p {
	text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Background Color for body, container, navigation, content */

body {
	background-color: #e8e8e8;
}

#container, #content, header {
	background-color: white;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Container, banner, pagefooter padding */

#container {
	min-width: 1024px;
	padding-top: 10px;
	padding-bottom: 20px;
}

#banner {
	padding-bottom: 10px;
}

#pageFooter {
	padding-top: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Navigation settings */

nav {
	margin-top: 10px;
}

nav ul li {
	display: inline-block;
	background-color: white;
	width: 180px;
}

nav ul li:hover {
	background-color: #e9e9e9;
}

a {
	display: block;
	padding: 10px 0px 10px 0px;
	text-decoration: none;
	color: #23a4e9;
}

a:link {
	
}

a:visited {
	
}

a:hover {
	
}

a:active {
	
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Content layout settings */

#content {
	width: 90%;
	margin:0px auto;
}

#content article {
	width: 60%;
	margin:0px auto 80px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Media Queries */
@media only screen and (min-width: 481px) {
	#container {
		width:80%;
		margin:20px auto;
		text-align:center;
		border-radius: 10px;
	}
	
}

#teamgallery li
{
	display:inline-block;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Under 480 px Version */
@media only screen and (max-width: 480px) {
	#container {
		width:100%;
		margin:0 auto;
		text-align:center;
		border:1px solid;
	}
	
	nav {
		border:1px solid;
	}
	
	header {
		border:1px solid;
	}
	
	#secondarynav {
		border:1px solid;
	}
	
	section {
		padding:50px 65px;
		border:1px solid;
	}
	
	footer {
		padding:20px;
		border:1px solid;
	}
}