/**
 * CSS Margin, Padding, Border Reset (Customized)
 */
html,body,div,span,applet,object,iframe,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Media Queries */
@media only screen and (min-width: 481px) {
	#container {
		width:80%;
		margin:20px auto;
		text-align:center;
		border-radius:10px;
	}
}

/* Font settings */
body,h1,h2 {
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:400;
}

#bannerTitle {
	font-size:60px;
	margin-bottom:0;
}

h1 {
	font-size:40px;
}

h2 {
	font-size:20px;
	color:#9a9a9a;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Minimum width for Container */
#container {
	min-width:1024px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Background Color for body, container, navigation, content */
body {
	background:#e8e8e8 url(../img/textured_paper.png) repeat fixed;
}

#container,#content,header {
	background-color:#fff;
}

article {
	border:#E8E8E8 1px solid;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Container, banner, pagefooter padding */
#container {
	margin-top:150px;
	padding-top:10px;
	padding-bottom:20px;
}

#banner {
	padding-bottom:10px;
	background:url(../img/bcitlogo.png) no-repeat;
	background-position:left top -5px;
}

#pageFooter {
	padding-top:10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Navigation settings */
nav {
	margin-top:10px;
}

nav ul li {
	display:inline-block;
	background-color:#fff;
	width:200px;
}

nav ul li:hover {
	background-color:#e9e9e9;
}

a {
	display:inline-block;
	padding:10px 0;
	text-decoration:none;
	color:#23a4e9;
}

a:link {
}

a:visited {
}

a:hover {
}

a:active {
}

#secondary {
	width:15%;
	float:left;
}

#secondary ul li:hover {
	background-color:#e9e9e9;
}

#secondary ul li {
	list-style:none;
	padding-left:-20px;
}

#topnav {
	position:fixed;
	top:0;
	width:100%;
	min-width:1024px;
	height:60px;
	white-space:nowrap;
	background-color:rgba(70,70,70,0.9);
	z-index:400;
}

#topnav ul {
	text-align:center;
	margin:0;
	padding:10px;
}

#topnav ul li {
	display:inline-block;
	padding-left:15px;
	padding-right:15px;
}

#topnav a {
	color:#fff;
	text-decoration:none;
	font-size:16px;
	-webkit-transition:font-size .3s ease;
	-moz-transition:font-size .3s ease;
	-o-transition:font-size .3s ease;
	-ms-transition:font-size .3s ease;
}

#topnav a:hover {
	font-size:20px;
	color:orange;
}

#searchbar {
	position:fixed;
	top:60px;
	width:100%;
	height:30px;
	padding:10px;
	white-space:nowrap;
	background-color:rgba(91,91,91,0.2);
	background-z-index:400;
	text-align:center;
}

#searchbutton {
	background:url(../img/searchbutton.png) no-repeat;
	position:relative;
	top:-7px;
	left:7px;
	width:36px;
	height:36px;
	border:none;
	cursor:pointer;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Content layout settings */
#content {
	width:90%;
	margin:0 auto;
}

#content article {
	width:80%;
	margin-bottom:50px;
	margin-left:17%;
	text-align:left;
	padding:10px;
}

#content article h1 {
	text-align:left;
	background:url(../img/brokenlink.png) no-repeat;
	text-indent:40px;
	background-position:left;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Under 480 px Version */
@media only screen and (max-width: 480px) {
	body {
		width:100%;
	}
	
	#topnav {
		position:absolute;
		width:100%;
		min-width:0;
		height:300px;
		white-space:nowrap;
		background-color:rgba(70,70,70,0.9);
		z-index:400;
	}
	
	#topnav ul li {
		display:block;
		padding-left:15px;
		padding-right:15px;
		width:100%;
	}
	
	#topnav a {
		color:#fff;
		text-decoration:none;
		font-size:16px;
		-webkit-transition:font-size .3s ease;
		-moz-transition:font-size .3s ease;
		-o-transition:font-size .3s ease;
		-ms-transition:font-size .3s ease;
	}
	
	#topnav a:hover {
		font-size:20px;
		color:orange;
	}
	
	#searchbar {
		position:absolute;
		top:300px;
		width:100%;
		height:30px;
		padding:10px 0;
		white-space:nowrap;
		background-color:rgba(91,91,91,0.2);
		background-z-index:400;
		text-align:center;
	}
	
	#searchbutton {
		background:url(../img/searchbutton.png) no-repeat;
		position:relative;
		top:-7px;
		left:7px;
		width:36px;
		height:36px;
		border:none;
		cursor:pointer;
	}
	
	#container {
		margin-top:400px;
		padding:10px 0;
		width:100%;
		min-width:0;
		text-align:center;
	}
	
	nav {
		width:100%;
		margin-top:10px;
		text-align:center;
	}
	
	nav ul li {
		display:inline-block;
		background-color:#fff;
		width:200px;
		padding:0;
		margin:0;
	}
	
	nav ul li:hover {
		background-color:#e9e9e9;
	}
	
	#secondary,#banner, #sitemap {
		display:none;
	}
	
	#content {
		clear:both;
		width:100%;
	}
	
	#content article {
		width:90%;
		margin-bottom:50px;
		margin-left:0px;
		text-align:left;
		padding:0px 10px 0px 10px;
	}
	
	#content article h1 {
		text-align:left;
		background:url() no-repeat;
		text-indent:0px;
		background-position:left;
	}
	
	article {
		border:0;
	}
}